In [1]:
import pyspark
from pyspark.sql import SparkSession

In [2]:
pyspark.__file__

'/home/iyanumanuel/spark/spark-3.0.3-bin-hadoop3.2/python/pyspark/__init__.py'

In [3]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

22/06/22 00:57:29 WARN Utils: Your hostname, vmi641720.contaboserver.net resolves to a loopback address: 127.0.1.1; using 66.94.120.221 instead (on interface eth0)
22/06/22 00:57:29 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/home/iyanumanuel/spark/spark-3.0.3-bin-hadoop3.2/jars/spark-unsafe_2.12-3.0.3.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
22/06/22 00:57:30 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [5]:
!wget https://nyc-tlc.s3.amazonaws.com/trip+data/fhv_tripdata_2021-01.parquet

#!wget https://nyc-tlc.s3.amazonaws.com/trip+data/fhvhv_tripdata_2021-01.parquet

--2022-06-22 00:58:05--  https://nyc-tlc.s3.amazonaws.com/trip+data/fhv_tripdata_2021-01.parquet
Resolving nyc-tlc.s3.amazonaws.com (nyc-tlc.s3.amazonaws.com)... 52.217.164.225
Connecting to nyc-tlc.s3.amazonaws.com (nyc-tlc.s3.amazonaws.com)|52.217.164.225|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 11886281 (11M) [binary/octet-stream]
Saving to: ‘fhv_tripdata_2021-01.parquet’

fhv_tripdata_2021-0 100%[===================>]  11.33M  3.68MB/s    in 3.1s

2022-06-22 00:58:09 (3.68 MB/s) - ‘fhv_tripdata_2021-01.parquet’ saved [11886281/11886281]

In [6]:
!wc -l fhv_tripdata_2021-01.parquet

32645 fhv_tripdata_2021-01.parquet

In [7]:
df = spark.read \
    .option("header", "true") \
    .parquet('fhv_tripdata_2021-01.parquet')

df.show(10)

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|Affiliated_base_number|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|              B00009|2021-01-01 01:27:00|2021-01-01 01:44:00|        null|        null|   null|                B00009|
|              B00009|2021-01-01 01:50:00|2021-01-01 02:07:00|        null|        null|   null|                B00009|
|              B00013|2021-01-01 01:01:00|2021-01-01 02:51:00|        null|        null|   null|                B00013|
|              B00037|2021-01-01 01:13:09|2021-01-01 01:21:26|        null|        72.0|   null|                B00037|
|              B00037|2021-01-01 01:38:31|2021-01-01 01:53:44|        null|        61.0|   null|                B00037|
|              B00037|2021-01-01 01:59:02|2021-01-01 02:08:05|        null|        71.0|   null|                B00037|
|              B00037|2021-01-01 01:18:12|2021-01-01 01:30:04|        null|        91.0|   null|                B00037|
|              B00037|2021-01-01 01:36:15|2021-01-01 01:45:08|        null|        39.0|   null|                B00037|
|              B00037|2021-01-01 01:55:04|2021-01-01 02:13:02|        null|        37.0|   null|                B00037|
|              B00037|2021-01-01 01:48:40|2021-01-01 02:12:02|        null|        39.0|   null|                B00037|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
only showing top 10 rows

In [8]:
df.head(5)

[Row(dispatching_base_num='B00009', pickup_datetime=datetime.datetime(2021, 1, 1, 1, 27), dropOff_datetime=datetime.datetime(2021, 1, 1, 1, 44), PUlocationID=None, DOlocationID=None, SR_Flag=None, Affiliated_base_number='B00009'),
 Row(dispatching_base_num='B00009', pickup_datetime=datetime.datetime(2021, 1, 1, 1, 50), dropOff_datetime=datetime.datetime(2021, 1, 1, 2, 7), PUlocationID=None, DOlocationID=None, SR_Flag=None, Affiliated_base_number='B00009'),
 Row(dispatching_base_num='B00013', pickup_datetime=datetime.datetime(2021, 1, 1, 1, 1), dropOff_datetime=datetime.datetime(2021, 1, 1, 2, 51), PUlocationID=None, DOlocationID=None, SR_Flag=None, Affiliated_base_number='B00013'),
 Row(dispatching_base_num='B00037', pickup_datetime=datetime.datetime(2021, 1, 1, 1, 13, 9), dropOff_datetime=datetime.datetime(2021, 1, 1, 1, 21, 26), PUlocationID=None, DOlocationID=72.0, SR_Flag=None, Affiliated_base_number='B00037'),
 Row(dispatching_base_num='B00037', pickup_datetime=datetime.datetime(2021, 1, 1, 1, 38, 31), dropOff_datetime=datetime.datetime(2021, 1, 1, 1, 53, 44), PUlocationID=None, DOlocationID=61.0, SR_Flag=None, Affiliated_base_number='B00037')]

In [9]:
df.schema

StructType(List(StructField(dispatching_base_num,StringType,true),StructField(pickup_datetime,TimestampType,true),StructField(dropOff_datetime,TimestampType,true),StructField(PUlocationID,DoubleType,true),StructField(DOlocationID,DoubleType,true),StructField(SR_Flag,IntegerType,true),StructField(Affiliated_base_number,StringType,true)))

In [10]:
df.write.option("header",True)
        .option("delimiter","|")
        .csv("head")

IndentationError: unexpected indent (1842915578.py, line 2)

In [36]:
!wc 1 head.csv

wc: 1: No such file or directory
 1154112  1154112 98801233 head.csv
 1154112  1154112 98801233 total

In [37]:
import pandas as pd

In [40]:
df_pandas = pd.read_csv('head.csv', delimiter= ',')

In [41]:
df_pandas.dtypes

B00009                            object
2021-01-01T01:27:00.000+01:00     object
2021-01-01T01:44:00.000+01:00     object
Unnamed: 3                       float64
Unnamed: 4                       float64
Unnamed: 5                       float64
B00009.1                          object
dtype: object

In [43]:
df_pandas.head()

,B00009,2021-01-01T01:27:00.000+01:00,2021-01-01T01:44:00.000+01:00,Unnamed: 3,Unnamed: 4,Unnamed: 5,B00009.1
0,B00009,2021-01-01T01:50:00.000+01:00,2021-01-01T02:07:00.000+01:00,NaN,NaN,NaN,B00009
1,B00013,2021-01-01T01:01:00.000+01:00,2021-01-01T02:51:00.000+01:00,NaN,NaN,NaN,B00013
2,B00037,2021-01-01T01:13:09.000+01:00,2021-01-01T01:21:26.000+01:00,NaN,72.0,NaN,B00037
3,B00037,2021-01-01T01:38:31.000+01:00,2021-01-01T01:53:44.000+01:00,NaN,61.0,NaN,B00037
4,B00037,2021-01-01T01:59:02.000+01:00,2021-01-01T02:08:05.000+01:00,NaN,71.0,NaN,B00037